{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "useTabs": false,
    "svelteSortOrder": "options-markup-scripts-styles"
}
